body {
    text-align: center;
    font-family: Arial, sans-serif;
}
canvas {
    display: block;
    margin: auto;
    border: 5px solid rgb(15, 15, 15);
}
#mensagem {
    display: none;
    font-size: 24px;
    color: black;
    font-weight: bold;
    margin-top: 20px;
}